.curriculum {
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 20px;
  /*background-color: yellow;*/
  /*display: inline-block;*/

  /*border: 1px solid red;*/
}

@media only screen and (max-width: 320px) {
    .curriculum {
      margin: 0;
      padding: 0px;
    }
}